// determines the hover color of a link. Setting the color to
// equal the navbar background color
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: $background-dark;
}

// sets size, color, and hover color for user profile glyphicon
.glyphicon-user {
  font-size: 20px;
  color: $white;
}
.glyphicon-user:hover {
  color: $icon-hightlight-blue;
}

// sets size, color, and hover color for shopping cart glyphicon
.glyphicon-shopping-cart {
  font-size: 20px;
  color: $white;
}
.glyphicon-shopping-cart:hover {
  font-size: 20px;
  color: $icon-hightlight-blue;
}
